<div class="side-nav-bar">
    <a id='nav-account'>Account</a>
    <a id='nav-deposit'>Deposit</a>
    <a id='nav-send-money'>Send Money</a>
    <a id='nav-loans'>Loans</a>
    <a id='nav-update-account'>Update Account</a>
</div>