<div class='dash-nav-container'>
    <nav class='dashboard-nav'>
        <div class='dash-username'>{{user.first_name}}</div>
        <div class='dash-signout'><a href='/logout'>Sign Out</a></div>
    </nav>
</div>