{{!-- <footer class="footer"> 
    <div id="logo">
        <p class="white">
        <a class="white-text" href="Financial IQ">Financial IQ</a>|
        <a class="white-text" href="Security">Security</a>|
        <a class="white-text" href="Careers">Careers</a>|
        <a class="white-text" href="FAQ">FAQ</a>|
        <a class="white-text" href="Privacy">Privacy</a>|
        <a class="white-text" href="Online Tracking and Advertising">Online Tracking and Advertising</a>|
        <a class="white-text" href="Accessibility">Accessibility</a>
        </p>
      <br>
        <a href=""><img class="img1" /></a>
        <a href=""><img class="img2" /></a>
        <a href=""><img class="img3" /></a>
        <hr>
      </div>
  </footer> --}}
  <footer>
    <div class="container-fluid padding">
      <div class="row text-center">
        <div class="col-md-4">
          <h5>Apply Now</h5>
          <hr class="light">
          <p>Open an Account</p>
          <p>Apply for a Loan</p>
          <p>Apply for a Credit Card</p>
        </div>
        <div class="col-md-4">
          <h5>Website Links</h5>
          <hr class="light">
          <p>Routing Number</p>
          <p>Property for Sale</p>
          <p>Switch to Us</p>
          <p>Media Center</p>
          <p>Classic Club</p>
        </div>
        <div class="col-md-4">
          <h5>Connect with Us</h5>
          <hr class="light">
          <p>Our Affiliates</p>
          <p>Careers</p>
        </div>
      </div>
    </div>
</footer>