<div class='setup-container'>

    <h1>Account Creation</h1>
    <form class='account-form' action='/api/createAccount' method='POST'>
        <div>
            <label>First Name:</label>
            <input class='account-input' name='first_name'>
        </div>
        <div>
            <label>Last Name:</label>
            <input class='account-input' name='last_name'>
        </div>
        <div>
            <label>Email:</label>
            <input class='account-input' name='email'>
        </div>
        <div>
            <label>Address:</label>
            <input class='account-input' name='address'>
        </div>
        <div>
            <label>Opening Deposit:</label>
            <input class='account-input' name='current_balance'>
        </div>
        <button class="deposit-b" type='submit' class='account-button'>Create Account</button>
    </form>
</div>